*{
    margin: 0;
    padding:0;

}
#pulbiber {
    height:505px;
    
}
#pulbiberyazisi{
 font-size: xx-large;
 font-family: fantasy;
 color:rgb(0, 0, 0);
}

.pulbiberornekler{
    color: black;
}
#naneyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.naneornekleri{
    color: black;
}
#tarcinyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.tarcinornekleri{
    color: black;
}
#adacayi{
    height: 505px;
}
#adacayiyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.adacayiornekleri{
    color: black;
}
#biberiye{
    height: 505px;
}
#biberiyeyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.biberiyeornekleri{
    color: black;
}
#kekik{
    height: 505px;
}
#kekikyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.kekikornekleri{
    color: black;
}
#zencefil{
    height: 505px;
}
#zencefilyazisi{
    font-size: xx-large;
    color: black;
    font-family:fantasy;
    
}
.zencefilornekleri{
    color: black;
}
#zerdecal{
    height: 505px;
}
#zerdecalyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.zerdecalornekleri{
    color: black;
}
#kimyon{
    height: 505px;
}
#kimyonyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.kimyonornekleri{
    color: black;
}
#karabiber{
    height: 505px;
}
#karabiberyazisi{
    font-size: xx-large;
    color: black;
    font-family: fantasy;
}
.karabiberornekleri{
    color: black;
}
#safran{
    height: 505px;
}
#safranyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.safranornekleri{
    color: black;
}
#muskat{
    height: 505px;
}
#muskatyazisi{
    font-size: xx-large;
    font-family: fantasy;
    color: black;
}
.muskatornekleri{
    color: black;
}



.tarih{
    font-size: xx-large;

}






